<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/chirpy.css') }}" rel="stylesheet">
    <title>
      {{ app }}
    </title>
  </head>
<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      blah
    </div>
  </div>

  <!-- Login Modal -->
  {% include 'login.html' %}
  <!-- End Login Modal -->

  <!-- Content -->

  <div class="row">
    <div class="col-md-2">
    {% block trio_sidebar_left %}
    {% endblock %}
    </div>
    <div class="col-md-2 col-md-push-8">
    {% block trio_sidebar_right %}
    {% endblock %}
    </div>
    <div class="col-md-8 col-md-pull-2">
    {% block trio_content %}
    {% endblock %}
    </div>
  </div>


  <footer class="navbar navbar-fixed-bottom chirpy-footer">
    <div>
      &copy; Jesse Roberts 2016
    </div>
  </footer>
</div>


<script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>

{% block javascript %}
{% endblock %}
</body>
</html>