<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/chirpy.css') }}" rel="stylesheet">
    <title>
      Chirpy
    </title>
  </head>
<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
      {% block trio_sidebar_left %}
      {% endblock %}
    </div>
     <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="row">
        <div>
          <form action="{{ url_for('submit_post') }}" method="POST">
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" class="form-control" name="email" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="Post">Message</label>
              <textarea class="form-control" name="post" placeholder="What's new?" rows="3"></textarea>
            </div>
            <div class="form-group">
              <div class="pull-right">
                <button type="submit" class="btn btn-default">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <br>  <!-- Quick hack for padding -->
      <div class="row">
        <table class="table align-left">
          <tbody>
            {% for p in posts %}
              <tr>
                <td class="col-sm-1 col-md-1 col-lg-1">
                  <img class="img-responsive img-rounded" src="{{ p.avatar }}" title="{{ p.fullname }}">
                  <strong class="text-muted" title="{{ p.fullname }}">{{ p.username }}</strong>
                </td>
                <td class="col-sm-11 col-md-11 col-lg-11">
                  <p>{{ p.post }}</p>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
      {% block trio_sidebar_right %}
      {% endblock %}
    </div>
  </div>
</div>


<footer class="footer">
  <div class="container-fluid">
    <div class="pull-right text-muted">
      &copy; Jesse Roberts 2016
    </div>
  </div>
</footer>


<script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>

{% block javascript %}
{% endblock %}
</body>
</html>